
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.contenido {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); 
}

.greatword{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}